.grid-background {
  background-size: 1rem 1rem;
  /*  background-color: #f9f9f9;
    background-image: radial-gradient(circle, #ddd unit.rem-calc(2), #f9f9f9 0);*/
  /*  background-color: #c0c0c0;*/
  background-image: radial-gradient(circle, #aaa 0.125rem, #c0c0c0 0);
  background-position-x: center;
}

.sm-left {
  color: #999;
  width: 198px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  left: calc(50% - 385px);
}

.sm-right {
  color: #999;
  width: 198px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  right: calc(50% - 385px);
}

.md-left {
  color: #999;
  width: 126px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  left: calc(50% - 511px);
}

.md-right {
  color: #999;
  width: 126px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  right: calc(50% - 511px);
}

.lg-left {
  color: #999;
  width: 127px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  left: calc(50% - 639px);
}

.lg-right {
  color: #999;
  width: 127px;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -1;
  right: calc(50% - 639px);
}

.xl-left {
  color: #999;
  width: 50%;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -2;
  right: 50%;
  text-align: right;
  padding-right: 670px;
}

.xl-right {
  color: #999;
  width: 50%;
  height: 1.25rem;
  top: -0.125rem;
  z-index: -2;
  left: 50%;
  text-align: left;
  padding-left: 670px;
}

.grid-type-gap {
  column-gap: 1rem;
  display: flex;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: var(--max-page-width-1280);
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.grid-type-gap.md {
  column-gap: 1.5rem;
  padding-left: 32px;
  padding-right: 32px;
}

.grid-type-gap.lg {
  column-gap: 1.5rem;
  padding-left: 32px;
  padding-right: 32px;
}

.grid-type-gap.xl {
  column-gap: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.grid-type-gap > div {
  width: 100%;
  height: 100%;
  background-color: rgba(119, 119, 255, 0.1450980392);
}

.grid-type-legacy {
  display: flex;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: var(--max-page-width-1280);
  height: 100%;
}

.grid-type-legacy > div:first-child {
  border-left: 1px solid red;
}

.grid-type-legacy > div {
  height: 100%;
  border-right: 1px solid red;
  width: 100%;
}